footer {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1600px;
  align-items: center;
  background-color: #ffffff;
  margin-top: 50px;
  margin: 50px;
}

footer p {
  font-size: 20px;
}

#copyRightText {
  font-size: 15px;
}

.getinTouchContainer {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  align-items: center;
}

.footerIMG {
  width: 47px;
  height: 47px;
  transition: 0.3s;
  cursor: pointer;
}

.footerIMG:hover {
  transition: 0.3s;
  transform: scale(1.2);
}
